body{
    background: #10122c;
}

.register-btn{
    text-align: center;
    color: blue;
}

.register-btn:hover{
    text-align: center;
    color: red;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.forRegister{
    display: none;
}

.white{
    color: #fff;
}
